<div class="headrow">
    @Html.ActionLink(" New", "Create", null, new { title = "Add New Company", @class = "sym-btn-add" })
    <label class="pull-right">Company List</label>
</div>

<div class="thinbox">
    <div class="th_thinbox">
        <p>Company List</p>
    </div>
    <p></p>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">Action</th>
                <th class="left">Code</th>
                <th class="left">Name</th>
                <th class="left">Address</th>
                @*<th class="left">City</th>*@
                @*<th class="left">Postal Code</th>*@
                <th class="left">Phone</th>
                @*<th class="left">Mobile</th>
                <th class="left">Fax</th>*@
                <th class="left">Remarks</th>
                <th class="left">Is Active</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);

        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Common/Company/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                {
                    "sName": "Id",
                    "bSearchable": false,
                    "bSortable": false,
                    "sWidth": "8%",
                    "sClass": "center",
                    "fnRender": function (oObj) {
                        return ' <a id="" title="Click on for Edit" style="text-decoration:none;" href="/Common/Company/Edit/' + oObj.aData[0] + '" class="sym-btn-edit-row"></a>'
                            //+ '&nbsp; <a title="Click on for Delete" style="text-decoration:none;" data-url="/Company/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');" class="sym-btn-remove-row"></a>';
                    }
                },
                { "sCode": "Code", "sWidth": "7%" },
                { "sName": "Name", "sWidth": "10%" },
                { "sAddress": "Address", "sWidth": "30%" },
                //{ "sCity": "City", "sWidth": "8%" },
                //{ "sPostalCode": "Postal Code", "sWidth": "8%" },
                { "sPhone": "Phone", "sWidth": "10%" },
                //{ "sMobile": "Mobile", "sWidth": "10%" },
                //{ "sFax": "Fax", "sWidth": "10%" },
                { "sRemarks": "Remarks", "sWidth": "10%" },
                { "sIsActive": "Is Active", "sWidth": "10%" }
            ]
        });
    });
</script>
