<div class="headrow">
    <button type="button" title="Add New Investment Name" data-url="/@ViewBag.TransType/InvestmentName/Create" onclick="GoTo(this)" id=""  class=" sym-btn-add ">&nbsp;New</button>
    <button type="button" data-url="/@ViewBag.TransType/InvestmentName/DownloadExcel" onclick="GoTo(this)" id="" title="Click to Download the Report" class="sym-btn-Excel-Export">&nbsp;Download</button>
   @* <button type="button" title="Delete Investment Name" data-url="/@ViewBag.TransType/InvestmentName/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
    <label class="pull-right">Investment Name</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Investment List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                
                <th class="center">Action</th>
                <th class="center">Investment No</th>
                <th class="center">Name</th>
                <th class="center">Address </th>
                <th class="center">Remarks</th>
                
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
</div>
<div class="headrow">
        <button type="button" title="Add New Investment Name" data-url="/@ViewBag.TransType/InvestmentName/Create" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    <button type="button" data-url="/@ViewBag.TransType/InvestmentName/DownloadExcel" onclick="GoTo(this)" id="" title="Click to Download the Report" class="sym-btn-Excel-Export">&nbsp;Download</button>
        @*<button type="button" title="Delete Investment Name" data-url="/@ViewBag.TransType/InvestmentName/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/@ViewBag.TransType/InvestmentName/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "5%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return ' '
                                        + '&nbsp; <a id=""  title="Click on for Edit"  style="text-decoration:none;"   href=\"/@ViewBag.TransType/InvestmentName/Edit/' + oObj.aData[0] + '\" class=" innerListLink sym-btn-edit-row"></a>'
                                       + '&nbsp; <a title="Click on for Accrued"  href="/@ViewBag.TransType/InvestmentName/AccruedProcessView?InvestmentNameId=' + oObj.aData[0] + '\" class="sym-btn-add-row lnkEdit"></a>'
                                      + '&nbsp; <a title="Click on for Report" data-url="/@ViewBag.TransType/InvestmentName/ReportView"  onclick=reportData(this); data-Id="' + oObj.aData[0] + '\" class="sym-btn-report-row"></a>'


                                    ;
                                }
                            }
                            , { "sName": "Code", "sWidth": "10%" }
                            , { "sName": "Name", "sWidth": "10%" }
                            , { "sName": "Address", "sWidth": "10%" }
                            , { "sName": "Remarks", "sWidth": "10%" }
                           

                            

            ]
        });
    });
</script>
<script>

    function reportData(sender) {
        var url = $(sender).attr('data-url');
        var code = $(sender).attr('data-Id');
        rptObj = new Object();
        rptObj.id = code;


        var rptParam = $.param(rptObj);
        url = url + "?" + rptParam;
        var win = window.open(url, '_blank');
    }
</script>
