@model IEnumerable<SymViewModel.Common.ProjectVM>
@{
    ViewBag.Title = "Index";
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Common/ProjectTest/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "12%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">&nbsp; <a title="Click on for Edit"  style="text-decoration:none;" id="lnkEdit1"class=" lnkEdit sym-btn-edit-row"  href=\"/Common/Project/Edit/' + oObj.aData[0] + '\"></a>' +
                                    '&nbsp; <a title="Click on for Delete" style="text-decoration:none;" data-url="/Common/ProjectTest/ProjectDelete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>';
                                }
                            }
                            , { "sName": "Name", "sWidth": "20%" }
                            , { "sName": "ContactPerson", "sWidth": "20%" }
                            , { "sName": "Address", "sWidth": "20%" }
                            , { "sName": "Country", "sWidth": "20%" }
                            , { "sName": "City", "sWidth": "20%" }
                            , { "sName": "Mobile", "sWidth": "20%" }
                           
            ]
        });
        oTable.columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [{ type: "checkbox", "sClass": "chkAll" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
            ]
        });
    });
</script>
<div class="headrow">
    <button type="button" title="Add New Project" data-url="/Common/ProjectTest/Create" id="" class="btnCreate sym-btn-add ">&nbsp;New</button>
    <button type="button" title="Delete Project" data-url="/Common/ProjectTest/ProjectDelete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    <label class="pull-right">Project</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Project List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">
                    <input type="checkbox" class="chkAll" />Select All</th>
                <th>Name</th>
                <th>ContactPerson</th>
                <th>Address</th>
                <th>Country</th>
                <th>City</th>
                <th>Mobile</th>
              
            </tr>
            <tr>
                <th class="center">Actions</th>
                <th>Name</th>
                <th>ContactPerson</th>
                <th>Address</th>
                <th>Country</th>
                <th>City</th>
                <th>Mobile</th>
              
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <div class="pull-left">
        <button type="button" title="Add New Project" data-url="/Common/ProjectTest/Create" id="" class="btnCreate sym-btn-add ">&nbsp;New</button>
        <button type="button" title="Delete Project" data-url="/Common/ProjectTest/ProjectDelete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    </div>
</div>
