<div class="content white menuheight ">
    <nav style="background-color: #F4FA58;" class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <ul class="nav col-xs-4 visible-xs">
                <li class="dropdown1" style="padding-top: 4px">
                    <a href="#" class=" btn btn-warning">HRM </a>
                </li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--/.navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li>
                    <a href="/Home/AboutUs">About us</a>
                </li>
                <li>
                    <a href="/Home/Client">Client</a>
                </li>
                <li>
                    <a href="/Home/ContactUs">Contact Us</a>
                </li>
                <li>
                    <a href="/Recruitment/JobCircular">Job Circular</a>
                </li>


            </ul>
        </div>
        <!--/.navbar-collapse-->
    </nav>
    <!--/.navbar-->
</div>
<style>
    .navbar-default .navbar-nav > li.dropdown:hover > a,
    .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
    .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
        /*background-color: rgb(231, 231, 231);*/
        color: rgb(85, 85, 85);
    }

    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
</style>
