.hrmAdmin {
    background: url(/Images/hrm.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.piibg {
    /*background: #fbec72 url(/Images/piibgimg.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* forms */



.btnHover {
    color: white!important;
    -moz-transition-duration: .500s;
    -o-transition-duration: .500s;
    -webkit-transition-duration: .500s;
    transition-duration: .500s;
}

    .btnHover:hover {
        color: black!important;
    }

label {
    font-weight: normal;
    padding-left: 10px;
}

a {
    color: #000;
    text-decoration: underline;
}

input[type='text'], input[type='password'], textarea {
    border: 1px solid #27f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*background-color: #fefede;*/
    color: #333;
    font-size: 1.3em;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
}

/*select {
    border: 1px solid #27f;
    border-radius: 8px;
    background:#FAFAFA;
    color: #333;
    font-size: 1em;
}*/
input[type="checkbox"].togglecheckbox {
    display: none;
}

input[type="RadioButton"].togglecheckbox {
    display: none;
}


input[type="checkbox"].togglecheckbox + label {
    display: block;
    padding: 3px 0px;
    margin: 5px;
    border-color: #ffd5b6;
    border-width: 3px;
    border-style: solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: #444;
    background: #ffd8d8; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd8d8 0%, #f4ffc4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd8d8), color-stop(100%,#f4ffc4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd8d8 0%,#f4ffc4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd8d8 0%,#f4ffc4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd8d8 0%,#f4ffc4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffd8d8 0%,#f4ffc4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8d8', endColorstr='#f4ffc4',GradientType=0 ); /* IE6-9 */
}


input[type="checkbox"].togglecheckbox:checked + label {
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 42%, #80c217 62%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(42%,#a1d54f), color-stop(62%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 42%,#80c217 62%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 42%,#80c217 62%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 42%,#80c217 62%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 42%,#80c217 62%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    border-color: rgba(210,255,82,1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #000;
}


/* info and errors  */



/* styles for validation helpers */


/* tables
----------------------------------------------------------*/
.customDatePicker {
    cursor: pointer!important;
    /*background: #fefede url('/Images/calendar.jpg') no-repeat 98% 3px;*/
    background: #fefede url('/Images/calendar.jpg') no-repeat 98%;
    padding-top: 4px;
    /*width: 120px;*/
}

.customTimePicker {
    cursor: pointer!important;
    /*background: #fefede url('/Images/calendar.jpg') no-repeat 98% 3px;*/
    background: #fefede url('/Images/timer.jpg') no-repeat 98%;
    padding-top: 4px;
    /*width: 120px;*/
}

.country, .branch, .section, .department, .designation, .division, .district, .bloodGroup, .degree, .employmentStatus, .employmentType, .gender, .immigrationType, .leaveApproveStatus, .leaveType, .leftType, .meritalStatus, .nationality, .religion, .salaryPayMode, .salutation, .skillQuality, .trainingCourse, .trainingPlace, .trainingStatus, .travelType, .languageE, .languageCompetency, .languageFluency, .year {
    /*background: #e6e6e6 url("/Images/autoComplete.jpg") repeat-x scroll 50% 50%;*/
    /*background: #e6e6e6 url("/Images/autoComplete.jpg") no-repeat 98%;*/
    /*image  url('/Images/calendar.png') no-repeat 98% 3px;
   

    border: 1px solid #d3d3d3;
    color: #555555;*/
}

.thinbox {
    margin: 10px 0px;
    padding: 10px 20px;
    border: 1px solid #7ac0da;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #e6e6ff;
}

.th_thinbox {
    background: #dddec5;
    min-width: 100px;
    margin: -10px -20px 5px -20px !important;
    padding: 3px 0px 0px 10px !important;
    font-size: 16px;
    -moz-border-radius: 5px 5px 0px 0px !important;
    -webkit-border-radius: 5px 5px 0px 0px !important;
    border-radius: 5px 5px 0px 0px !important;
    font-weight: bold;
}


/*.Hidden, .Success, .Failure {
    display: none;
}*/

.ask {
    color: #1b8501;
    padding: 30px;
    font-weight: bold;
}

.Success {
    /*background-color: rgba(210,255,82,1) !important;*/
    /*font-weight: bold !important;
    color:#27fb1e;*/
    font-size: 15px;
    color: black;
}

.Fail {
    /* background-color: red !important;*/
    font-weight: bold !important;
    color: red;
    font-size: 15px;
}

.failure {
    color: #cc0000;
    /*padding: 30px;*/
    /*font-weight: bold !important;*/
    font-size: 15px;
}

.modal-header {
    background-color: #F4FA58;
    border-radius: 6px 6px 0px 0px;
}

.information {
    padding: 30px;
    font-weight: bold;
}

.Left, .left {
    text-align: left;
}

.Right, .right {
    text-align: right;
}

.Center, .center {
    text-align: center;
}

/*.thinbox .row, .tab-content .row{
	margin-bottom: 10px;
}*/

.tab-content.fixed-tab {
    padding-top: 10px;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

.DatePicker {
    cursor: pointer;
    background: #fefede url('/assets/calender.png') no-repeat 98% 3px;
    padding-left: 4px;
    width: 120px;
}

label.error {
    color: red;
}

select.readonly, input.readonly {
    background: rgb(233,233,233);
}

.btn.IconOnly {
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 20px;
    width: 24px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.Add.btn:hover {
    background-color: #ff8a00;
}

.btn.Add {
    background: rgb(0, 100, 200) url('/assets/addRow.png') no-repeat 4px 3px;
}

.btn.Delete {
    background: #ff0000 url('/assets/trash.gif') no-repeat 4px 2px;
}

.widthcustom100 {
    width: 100%;
}

.widthcustom50 {
    width: 50%;
}

.maxwidth100 {
    max-width: 100%;
}

.textalign {
    text-align: right;
}

/*........................................Tooltip.....................................*/

.tooltip {
    display: none;
    background: url('/assets/Risk-Matrix.png');
    height: 200px;
    width: 200px;
    font-size: 11px;
}
/*....................Upload Button Customize....................*/
.fileUploadcustom {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
}

    .fileUploadcustom input.uploadcustom {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.datepicker {
    z-index: 9999 !important;
}

.email_hide {
    display: none;
}

.overflowtable {
    overflow-x: scroll;
}

    .overflowtable table tbody {
        overflow-y: scroll; /* Trigger vertical scroll    */
        overflow-x: hidden;
        max-height: 200px;
        display: block;
        min-width: 130px;
    }

    .overflowtable table thead tr th {
        min-width: 170px;
        max-height: 170px;
        min-height: 10px;
    }

    .overflowtable table thead {
        display: block;
        width: calc(100% - 1.9em);
    }

    .overflowtable table tbody tr td {
        min-width: 170px;
        max-height: 170px;
        min-height: 10px;
    }

.mytable tbody tr td {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.readOnlyColor {
    /*border-color:#ffd800 !important;
        border-left-color :#ffd800 !important;
        border-top-color :#ffd800 !important;
        border-right-color :#ffd800 !important;*/
    border-color: #ffd800 !important;
}

.wrightColor {
    /*border-left-color :#00ff21 !important;
        border-top-color :#00ff21 !important;
        border-right-color :#00ff21 !important;
        border-bottom: #00ff21;*/
    border-color: #C9D6B5 !important;
}

.required {
    border-bottom: 2px solid #f20 !important;
}

.minWidth {
    min-width: 100px;
}

.innerListLink {
    text-decoration: underline;
    cursor: pointer;
    color: blue !important;
    font: large bold !important;
}
/*.dialog-msg {
  text-align:center !important;
    font-weight: bold;
}*/
/*input[type='checkbox'],.attachment{
     margin-left:25% !important;
}*/
.textDecoration {
    text-decoration: none;
}

.ActionWidth {
    width: 13px !important;
    margin-left: 5px !important;
}

.EmployeeId {
    width: 140px !important;
}

.leftMenuActive a {
    color: #C36B3F !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #31b0d5;
    font-size: 1.2em;
    color: white;
}

.tabDefault {
    background-color: #ec971f;
    color: green;
}
/*---------------------Pharma Raw Menu css---------------------*/
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    /*background-color: rgb(231, 231, 231);*/
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar-nav > li > a,
.navbar-nav > li > a {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.navbar,
.navbar {
    min-height: 0px!important;
}

.menuheight nav, .collapse,
.collapse {
    background: #b4e391; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #b4e391 22%, #61c419 66%, #b4e391 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #b4e391 22%,#61c419 66%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #b4e391 22%,#61c419 66%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
    /*background-color:#b7e487!important;*/
}

@media only screen and (min-width: 10px) and (max-width: 479px) {
    .navbar {
        margin-bottom: 0px!important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar {
        margin-bottom: 0px!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .menuheight, .menuheight {
        height: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 2222px) {

    .menuheight, .menuheight {
        height: 50px;
    }
}

.dropdown .multi-column-dropdown li a,
.dropdown .multi-column-dropdown li a, .dropdown .dropdown-menu li a,
.dropdown .dropdown-menu li a {
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe2ba+0,b7e487+50,cfe2ba+100 */
    background: #cfe2ba; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #cfe2ba 0%, #b7e487 50%, #cfe2ba 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #cfe2ba 0%,#b7e487 50%,#cfe2ba 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #cfe2ba 0%,#b7e487 50%,#cfe2ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe2ba', endColorstr='#cfe2ba',GradientType=0 ); /* IE6-9 */
    border-color: green;
    text-align: left;
}

    .dropdown .multi-column-dropdown li a:hover,
    .dropdown .dropdown-menu li a:hover,
    .dropdown .multi-column-dropdown li a:hover,
    .dropdown .dropdown-menu li a:hover {
        color: orange;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bad8e0+0,66b7c1+50,c9e3ed+100 */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe2ba+0,98e248+50,cfe2ba+100 */
        background: #cfe2ba; /* Old browsers */
        /*background: -moz-linear-gradient(top,  #cfe2ba 0%, #98e248 50%, #cfe2ba 100%); /* FF3.6-15 */
        /*background: -webkit-linear-gradient(top,  #cfe2ba 0%,#98e248 50%,#cfe2ba 100%); /* Chrome10-25,Safari5.1-6 */
        /*background: linear-gradient(to bottom,  #cfe2ba 0%,#98e248 50%,#cfe2ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe2ba', endColorstr='#cfe2ba',GradientType=0 ); /* IE6-9 */
    }

.nav li:hover a,
.nav li:hover a {
    z-index: 99;
    /*color:black;*/
}

.nav li:hover,
.nav li:hover {
    z-index: 10;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe2ba+0,8be248+50,cfe2ba+100 */
    background: #cfe2ba; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #cfe2ba 0%, #8be248 50%, #cfe2ba 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #cfe2ba 0%,#8be248 50%,#cfe2ba 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #cfe2ba 0%,#8be248 50%,#cfe2ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe2ba', endColorstr='#cfe2ba',GradientType=0 ); /* IE6-9 */
}

.dropdown-menu,
.dropdown-menu {
    background: #cfe2ba; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #cfe2ba 0%, #b7e487 50%, #cfe2ba 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #cfe2ba 0%,#b7e487 50%,#cfe2ba 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #cfe2ba 0%,#b7e487 50%,#cfe2ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe2ba', endColorstr='#cfe2ba',GradientType=0 ); /* IE6-9 */
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #3c763d;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/***************************datatable heighlight******************/
.ex_highlight #myDataTable tbody tr.even:hover, #myDataTable tbody tr.even td.highlighted {
    background-color: #ECFFB3;
}

.ex_highlight #myDataTable tbody tr.odd:hover, #myDataTable tbody tr.odd td.highlighted {
    background-color: #E6FF99;
}

.ex_highlight_row #myDataTable tr.even:hover {
    background-color: #ECFFB3;
}

    .ex_highlight_row #myDataTable tr.even:hover td.sorting_1 {
        background-color: #DDFF75;
    }

    .ex_highlight_row #myDataTable tr.even:hover td.sorting_2 {
        background-color: #E7FF9E;
    }

    .ex_highlight_row #myDataTable tr.even:hover td.sorting_3 {
        background-color: #E2FF89;
    }

.ex_highlight_row #myDataTable tr.odd:hover {
    background-color: #E6FF99;
}

    .ex_highlight_row #myDataTable tr.odd:hover td.sorting_1 {
        background-color: #D6FF5C;
    }

table thead tr:last-of-type th input {
    color: gray!important;
    font-size: 12px!important;
}

.dataTables_wrapper {
    min-height: 60px!important;
}

.headrow {
    overflow: auto;
    min-width: 30px; /*suggest a min-width &amp; min-height*/
    min-height: 40px;
    padding: 6px 4px 1px 10px!important;
    background: rgba(252,249,249,1);
    background: -moz-linear-gradient(left, rgba(252,249,249,1) 0%, rgba(245,242,242,1) 0%, rgba(242,242,242,1) 0%, rgba(240,238,237,1) 0%, rgba(85,196,57,1) 68%, rgba(85,196,57,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,249,249,1)), color-stop(0%, rgba(245,242,242,1)), color-stop(0%, rgba(242,242,242,1)), color-stop(0%, rgba(240,238,237,1)), color-stop(68%, rgba(85,196,57,1)), color-stop(100%, rgba(85,196,57,1)));
    background: -webkit-linear-gradient(left, rgba(252,249,249,1) 0%, rgba(245,242,242,1) 0%, rgba(242,242,242,1) 0%, rgba(240,238,237,1) 0%, rgba(85,196,57,1) 68%, rgba(85,196,57,1) 100%);
    background: -o-linear-gradient(left, rgba(252,249,249,1) 0%, rgba(245,242,242,1) 0%, rgba(242,242,242,1) 0%, rgba(240,238,237,1) 0%, rgba(85,196,57,1) 68%, rgba(85,196,57,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,249,249,1) 0%, rgba(245,242,242,1) 0%, rgba(242,242,242,1) 0%, rgba(240,238,237,1) 0%, rgba(85,196,57,1) 68%, rgba(85,196,57,1) 100%);
    background: linear-gradient(to right, rgba(252,249,249,1) 0%, rgba(245,242,242,1) 0%, rgba(242,242,242,1) 0%, rgba(240,238,237,1) 0%, rgba(85,196,57,1) 68%, rgba(85,196,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9f9', endColorstr='#55c439', GradientType=1 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*overflow:hidden;*/
    width: 100%;
}

    .headrow .btn-breadcrumb {
        margin-top: -3px;
    }

    .headrow label {
        font-size: 1.4em;
        margin: 2px;
        color: white;
    }
/***********************Location **********************/


.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

    .btn-breadcrumb .btn:first-child {
        padding: 6px 6px 6px 10px;
    }

    .btn-breadcrumb .btn:last-child {
        padding: 6px 18px 6px 24px;
    }

    /** Default button **/
    .btn-breadcrumb .btn.btn-default:not(:last-child):after {
        border-left: 10px solid #fff;
    }

    .btn-breadcrumb .btn.btn-default:not(:last-child):before {
        border-left: 10px solid #ccc;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
        border-left: 10px solid #ebebeb;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
        border-left: 10px solid #adadad;
    }


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.has-switch > div {
    top: 2px!important;
}


/*Table Class*/
.actionColumn {
    min-width: 120px!important;
    max-width: 130px!important;
}

textarea.form-control {
    min-height: 30px;
    max-height: 30px;
}

    textarea.form-control:focus {
        min-height: 100px;
        max-height: 100px;
    }

.form-control:focus, .Dropdown:focus {
    background-color: rgba(255, 216, 0, 0.19);
}

/*select.form-control {
   padding:0 !important;
   color:red;
    
}*/


div > input[type="checkbox"] {
    text-align: center;
}

table tr td {
    padding: 1px 6px 1px 4px!important;
}

    table tr td input {
        font-size: 12px!important;
    }

.editor-field input[type=checkbox] {
    padding-left: 10px;
    background-color: black;
}


/**********************Search*******/
#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px;
        padding-left: 3px;
        padding-left: 4px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #D9230F;
    }

.search-query:focus + button {
    z-index: 3;
}

.fr {
    padding: 0px;
    margin-top: 10px;
    margin-left: -2px;
}

/********Page Preload ********************/

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.dataTables_processing {
    border: none!important;
    background-color: rgba(0, 0, 0, 0.00);
}

table {
    overflow: hidden;
}

tr:hover {
    /*background-color: #b6eab4!important;*/
    background-color: #b3fa9b!important;
}

td, th {
    position: relative;
}

    td:hover::after,
    th:hover::after {
        content: "";
        position: absolute;
        background-color: #b3fa9b!important;
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
    }

.Dropdown {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/************************DataTable Export***********************/
div.DTTT_container {
    position: relative;
    float: right;
    margin-bottom: 1em;
}

@media screen and (max-width: 640px) {
    div.DTTT_container {
        float: none !important;
        text-align: center;
    }

        div.DTTT_container:after {
            visibility: hidden;
            display: block;
            content: "";
            clear: both;
            height: 0;
        }
}


button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    padding: 5px 8px;
    border: 1px solid #999;
    cursor: pointer;
    *cursor: hand;
    font-size: 0.88em;
    color: black !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    -ms-box-shadow: 1px 1px 3px #ccc;
    -o-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
    /* Generated by http://www.colorzilla.com/gradient-editor/ */
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}


/* Buttons are cunning border-box sizing - we can't just use that for A and DIV due to IE6/7 */
button.DTTT_button {
    height: 30px;
    padding: 3px 8px;
}

.DTTT_button embed {
    outline: none;
}

button.DTTT_button:hover,
div.DTTT_button:hover,
a.DTTT_button:hover {
    border: 1px solid #666;
    text-decoration: none !important;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
    background: #f3f3f3; /* Old browsers */
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
    background: -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

button.DTTT_button:focus,
div.DTTT_button:focus,
a.DTTT_button:focus {
    border: 1px solid #426c9e;
    text-shadow: 0 1px 0 #c4def1;
    outline: none;
    background-color: #a3d0ef 100%;
    background-image: -webkit-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
    background-image: -moz-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
    background-image: -ms-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
    background-image: -o-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
    background-image: linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a3d0ef', EndColorStr='#a3d0ef');
}

button.DTTT_button:active,
div.DTTT_button:active,
a.DTTT_button:active {
    -webkit-box-shadow: inset 1px 1px 3px #999999;
    -moz-box-shadow: inset 1px 1px 3px #999999;
    box-shadow: inset 1px 1px 3px #999999;
}

button.DTTT_disabled,
div.DTTT_disabled,
a.DTTT_disabled {
    color: #999;
    border: 1px solid #d0d0d0;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}



/*
 * BUTTON_STYLES
 * Action specific button styles
 * If you want images - comment this back in

a.DTTT_button_csv,
a.DTTT_button_xls,
a.DTTT_button_copy,
a.DTTT_button_pdf,
a.DTTT_button_print {
	padding-right: 0px;
}

a.DTTT_button_csv span,
a.DTTT_button_xls span,
a.DTTT_button_copy span,
a.DTTT_button_pdf span,
a.DTTT_button_print span {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-right: 30px;
}


a.DTTT_button_csv span { background: url(../images/csv.png) no-repeat bottom right; }
a.DTTT_button_csv:hover span { background: url(../images/csv_hover.png) no-repeat center right; }

a.DTTT_button_xls span { background: url(../images/xls.png) no-repeat center right; }
a.DTTT_button_xls:hover span { background: #f0f0f0 url(../images/xls_hover.png) no-repeat center right; }

a.DTTT_button_copy span { background: url(../images/copy.png) no-repeat center right; }
a.DTTT_button_copy:hover span { background: #f0f0f0 url(../images/copy_hover.png) no-repeat center right; }

a.DTTT_button_pdf span { background: url(../images/pdf.png) no-repeat center right; }
a.DTTT_button_pdf:hover span { background: #f0f0f0 url(../images/pdf_hover.png) no-repeat center right; }

a.DTTT_button_print span { background: url(../images/print.png) no-repeat center right; }
a.DTTT_button_print:hover span { background: #f0f0f0 url(../images/print_hover.png) no-repeat center right; }

 */

button.DTTT_button_collection span {
    padding-right: 17px;
    background: url(../images/collection.png) no-repeat center right;
}

button.DTTT_button_collection:hover span {
    padding-right: 17px;
    background: #f0f0f0 url(../images/collection_hover.png) no-repeat center right;
}


/*
 * SELECTING
 * Row selection styles
 */
table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand;
}

table.dataTable tr.DTTT_selected.odd {
    background-color: #9FAFD1;
}

    table.dataTable tr.DTTT_selected.odd td.sorting_1 {
        background-color: #9FAFD1;
    }

    table.dataTable tr.DTTT_selected.odd td.sorting_2 {
        background-color: #9FAFD1;
    }

    table.dataTable tr.DTTT_selected.odd td.sorting_3 {
        background-color: #9FAFD1;
    }


table.dataTable tr.DTTT_selected.even {
    background-color: #B0BED9;
}

    table.dataTable tr.DTTT_selected.even td.sorting_1 {
        background-color: #B0BED9;
    }

    table.dataTable tr.DTTT_selected.even td.sorting_2 {
        background-color: #B0BED9;
    }

    table.dataTable tr.DTTT_selected.even td.sorting_3 {
        background-color: #B0BED9;
    }


/*
 * COLLECTIONS
 * Drop down list (collection) styles
 */

div.DTTT_collection {
    width: 150px;
    padding: 8px 8px 4px 8px;
    border: 1px solid #ccc;
    border: 1px solid rgba( 0, 0, 0, 0.4 );
    background-color: #f3f3f3;
    background-color: rgba( 255, 255, 255, 0.3 );
    overflow: hidden;
    z-index: 2002;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

div.DTTT_collection_background {
    background: transparent url(../images/background.png) repeat top left;
    z-index: 2001;
}

div.DTTT_collection button.DTTT_button,
div.DTTT_collection div.DTTT_button,
div.DTTT_collection a.DTTT_button {
    position: relative;
    left: 0;
    right: 0;
    display: block;
    float: none;
    margin-bottom: 4px;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
}
/*
 * PRINTING
 * Print display styles
 */
.DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin-left: -200px;
    margin-top: -75px;
    text-align: center;
    color: #333;
    padding: 10px 30px;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    opacity: 0.95;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

    .DTTT_print_info h6 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        margin: 1em;
    }

    .DTTT_print_info p {
        font-size: 14px;
        line-height: 20px;
    }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content.title {
    position: relative;
    background: #C9D6B5;
}

#login .customDatePicker {
    color: black;
    cursor: pointer!important;
    /*background: #fefede url('/Images/calendar.jpg') no-repeat 98% 3px;*/
    background: #fefede url('/Images/calendar.jpg') no-repeat 98%;
    padding-top: 4px;
    /*width: 120px;*/
}

#login.customTimePicker {
    cursor: pointer!important;
    /*background: #fefede url('/Images/calendar.jpg') no-repeat 98% 3px;*/
    background: #fefede url('/Images/timer.jpg') no-repeat 98%;
    padding-top: 4px;
    /*width: 120px;*/
}
/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

#login.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

    #login.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
        background-color: #e6e6e6;
    }

#login.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#login.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

#login.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

    #login.btn-primary.active {
        color: rgba(255, 255, 255, 0.75);
    }

#login.btn-primary {
    background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

    #login.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
        filter: none;
        background-color: #4a77d4;
    }

#login.btn-block {
    width: 100%;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/*html { width: 100%; height:100%; overflow:hidden; }*/
body {
    /*background:#e6e6e6;*/
    /*font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );*/
}

.login {
    /*position: absolute;
	top: 44%;
	left: 50%;*/
    margin: auto;
    /*width:300px;
	height:300px;*/
}

    .login h1 {
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
        letter-spacing: 1px;
        text-align: center;
    }

#login {
    -webkit-box-shadow: 0px 0px 22px 2px #333;
    -moz-box-shadow: 0px 0px 2px #333;
    box-shadow: 0px 0px 22px 2px #333;
    height: 494px;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

    #login input {
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0,0,0,0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
    }

        #login input:focus {
            box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
        }
/********Page Preload ********************/
.loading {
    position: fixed;
    z-index: 99999!important;
    height: 10em;
    width: 2em;
    margin: auto;
    top: 0;
    /*left: 50%;*/
    bottom: 0;
    right: 0;
    width: 100%!important;
}

    .loading img {
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999999!important;
    }
    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        z-index: 99999!important;
    }

#login label {
    color: white;
}
   .ac {
        background-color:#67e009!important;
    }
/**************navigation Active***********/
