
<div class="headrow">
    <button type="button" title="Add New Appraisal360" data-url="/Common/Appraisal360/Create" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>
    <button type="button" title="Delete Appraisal360" data-url="/Common/Appraisal360/Appraisal360Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    <button type="button" title="Index Appraisal Questions" data-url="/Common/Appraisal360/Index" onclick="GoTo(this)" id="" class=" sym-btn-back "> &nbsp;Index</button>
    <label class="pull-right"> Appraisal360</label>
</div>

<div class="thinbox">
    <div class="th_thinbox">
        <p>Appraisal360 List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">
                    @*<input type="checkbox" class="chkAll" />Select All*@
                </th>
                @*<th>Department</th>*@
                <th>Department Name</th>
                @*<th>UserId</th>*@
                <th>User Name</th>
                @*<th>FeedBackUserId</th>*@
                <th>FeedBack User Name</th>
                <th>Feedback Date</th>
                <th>FeedBack Year</th>
                <th>Period Name</th>
                <th>Feedback Competed</th>
                <th>User</th>
                <th>Supervisor</th>
                <th>Department Head</th>
                <th>Management</th>
                <th>HR</th>
            </tr>

            <tr>
                <th class="center">Action</th>
                @*<th>Department</th>*@
                <th>Department Name</th>
                @*<th>UserId</th>*@
                <th>User Name</th>
                @*<th>FeedBackUserId</th>*@
                <th>FeedBack User Name</th>
                <th>Feedback Date</th>
                <th>FeedBack Year</th>
                <th>Period Name</th>
                <th>Feedback Competed</th>
                <th>User</th>
                <th>Supervisor</th>
                <th>Department Head</th>
                <th>Management</th>
                <th>HR</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
</div>

<div class="headrow">
    <div class="pull-left">
        <button type="button" title="Add New AppraisalMarkSetups" data-url="/Common/Appraisal360/Create" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>
        <button type="button" title="Delete AppraisalMarkSetups" data-url="/Common/Appraisal360/Appraisal360Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Common/Appraisal360/_IndexAppraisal360",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "6%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return '&nbsp; <a title="Click on for Edit" style="text-decoration:none;"   href=\"/Common/Appraisal360/Edit/' + oObj.aData[0] + '\" class="sym-btn-edit-row"></a>';
                                }
                            }
                            //, { "sName": "DepartmentId", "sWidth": "20%" }
                            //, { "sName": "DepartmentName", "sWidth": "20%" }
                            , { "sName": "DepartmentName", "sWidth": "10%" }
                            , { "sName": "UserName", "sWidth": "10%" }
                            //, { "sName": "FeedBackUserId", "sWidth": "20%" }
                            , { "sName": "FeedBackUserName", "sWidth": "12%" }
                            , { "sName": "FeedbackDate", "sWidth": "8%" }
                            , { "sName": "FeedBackYear", "sWidth": "8%" }
                            , { "sName": "PeriodName", "sWidth": "8%" }
                            , { "sName": "IsFeedbackCompeted", "sWidth": "8%" }
                            , { "sName": "IsUser", "sWidth": "6%" }
                            , { "sName": "IsSupervisor", "sWidth": "6%" }
                            , { "sName": "IsDepartmentHead", "sWidth": "10%" }
                            , { "sName": "IsManagement", "sWidth": "10%" }
                            , { "sName": "IsHR", "sWidth": "8%" }
                            
            ]
        });
        oTable.columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [{ type: "checkbox", "sClass": "chkAll" }
                       //, { type: "text" }
                       //, { type: "text" }
                       //, { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }
                       , { type: "text" }


                       //, { type: "text" }
                       //, { type: "date-range" }
            ]

        });

    });
</script>



