@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron">
        <div>
            <img src="~/Images/PFProfile.jpg" style="display: block;  margin: 0 auto; width:550px;" />
        </div>
    </div>
</div>
<script>
    var topMenuActive = "Home";

</script>


