<div class="headrow">
    @*<button type="button" title="Profit Distribution Process" data-url="/@ViewBag.TransType/ProfitDistributionNew/Process" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;Distribution Process</button>*@
    <button type="button" data-url="/@ViewBag.TransType/ProfitDistributionNew/DownloadExcel" onclick="GoTo(this)" id="" title="Click to Download the Report" class="sym-btn-Excel-Export">&nbsp;Download</button>
    <label class="pull-right">Profit Distribution New </label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Profit Distribution List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">
                    <input type="checkbox" class="chkAll" />Select All</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Distribution Date</th>

                <th>Total Profit</th>
                <th>Post Status</th>
                <th>Payment Status</th>



                @*  
FundingDate
FundingValue
FundingReference
Post
IsDistribute
*@
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <button type="button" data-url="/@ViewBag.TransType/ProfitDistributionNew/DownloadExcel" onclick="GoTo(this)" id="" title="Click to Download the Report" class="sym-btn-Excel-Export">&nbsp;Download</button>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/@ViewBag.TransType/ProfitDistributionNew/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "20%",
                                "sClass": "center",
                                "fnRender": function (oObj) {

                                    return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">'
                                        + '&nbsp; <a id=""  title="Click on for Edit"    href=\"/@ViewBag.TransType/ProfitDistributionNew/Edit/' + oObj.aData[0] + '\" class="  sym-btn-edit-row"></a>'
                                        //+ '&nbsp; <a title="Click on for Post"   data-url="/@ViewBag.TransType/ProfitDistributionNew/Post"   onclick=btnPostNew(this);   data-Id="' + oObj.aData[0] + '\" class="sym-btn-post-row"></a>'
                                        //+ '&nbsp; <a title="Click on for Delete" data-url="/@ViewBag.TransType/ProfitDistributionNew/Delete" onclick=btnDeleteNew(this);   data-Id="' + oObj.aData[0] + '\" class="sym-btn-remove-row"></a>'
                                        //+ '&nbsp; <a title="Click on for Payment" data-url="/@ViewBag.TransType/ProfitDistributionNew/Payment" onclick=btnPayment(this);   data-Id="' + oObj.aData[0] + '\" class="sym-btn-payment-row"></a>'
                                        //+ '&nbsp; <a title="Click on for Download" target="_blank"  href=\"/@ViewBag.TransType/ProfitDistributionNew/ExcelReport/' + oObj.aData[0] + '\" class="  sym-btn-download-row"></a>'


                                    ;
                                }
                            }
                            , { "sName": "EmployeeCode", "sWidth": "10%" }
                            , { "sName": "Name", "sWidth": "10%" }
                            , { "sName": "DistributionDate", "sWidth": "10%" }
                            , { "sName": "TotalProfit", "sWidth": "10%" }
                            , { "sName": "Post", "sWidth": "10%" }
                            , { "sName": "IsPaid", "sWidth": "10%" }



            ]
        });
    });
</script>


<script>
    function btnPostNew(sender) {

        var Id = $(sender).attr("data-Id");

        var getURL = "/@ViewBag.TransType/ProfitDistributionNew/GetProfitDistributionNew" + "?" + "id=" + Id;

        $.getJSON(getURL, function (vm) {

            if (vm.Post) {
                ShowResult("Fail", "Data Already Posted!");
                return true;
            }
            else {
                var url = $(sender).attr("data-url") + "?ids=" + Id + '~';
                var questionMSG = "Are you sure to Post Data!";
                singleOperation(questionMSG, url);
            }

        });

    }

    function btnDeleteNew(sender) {

        var Id = $(sender).attr("data-Id");

        var getURL = "/@ViewBag.TransType/ProfitDistributionNew/GetProfitDistributionNew" + "?" + "id=" + Id;

        $.getJSON(getURL, function (vm) {

            if (vm.Post) {
                ShowResult("Fail", "Data Already Posted! Can't Be Deleted!");
                return true;
            }
            else {
                var url = $(sender).attr("data-url") + "?ids=" + Id + '~';
                var questionMSG = "Are you sure to Delete Data!";
                singleOperation(questionMSG, url);
            }

        });

    }


    function btnPayment(sender) {

        var Id = $(sender).attr("data-Id");

        var getURL = "/@ViewBag.TransType/ProfitDistributionNew/GetProfitDistributionNew" + "?" + "id=" + Id;

        $.getJSON(getURL, function (vm) {

            if (!vm.Post) {
                ShowResult("Fail", "Do Post before Payment!");
                return;
            }
            else if (vm.IsPaid) {
                ShowResult("Fail", "Payment Already Done!");
                return true;
            }
            else {
                var url = $(sender).attr("data-url") + "?ids=" + Id + '~';
                var questionMSG = "Are you sure to do Payment!";
                singleOperation(questionMSG, url);
            }

        });

    }


</script>

