@model IEnumerable<SymViewModel.Attendance.EmployeeDailyOvertimeVM>
@using UIHelper.MVC
@using (Html.BeginForm("Create", "EmployeeDailyOvertime", FormMethod.Post, new { @Id = "frmEmpDailyOvertime" }))
{
<div class="thinbox">
    <div class="th_thinbox">
        <p>
            Employee List
        </p>
    </div>

    <div id="container">
        <table id="myDataTable" class="display">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th class="col-md-1">Overtime (Hrs)</th>
                    <th class="col-md-1">LateInHrs</th>
                    <th class="col-md-1">EarlyOutHrs</th>
                    <th>Remarks</th>
                    <th>Designation</th>
                    <th>@Session["DepartmentLabel"]</th>
                    <th>@Session["ProjectLabel"]</th>
                    <th>@Session["ProjectLabel"]</th>

                </tr>
            </thead>

            <tbody>
                 @Html.EditorForModel()
            </tbody>
        </table>
    </div>
    <br />
</div>
}
