@model SymViewModel.PF.PFBankDepositVM
@using UIHelper.MVC

<div class="headrow">
    <button type="button" title="Go To Index" data-url="/@ViewBag.TransType/WPPF/IndexFiscalPeriod" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>
    <label class="pull-right">WPPF</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p class="thinHead">WPPF</p>
    </div>
    <p>
    </p>
    <table id="myDataTable" class="display">
        <thead>
            <tr>

                <th class="center">Action</th>
                <th class="center">Code</th>
                <th class="center">Project</th>
                <th class="center">Fiscal Period</th>
                <th class="center">Profit</th>
                <th class="center">Post Status</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <button type="button" title="Go To Index" data-url="/@ViewBag.TransType/WPPF/IndexFiscalPeriod" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>
</div>


@using (Html.BeginForm("Create", "PFBankDeposit", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmPFBankDepositGet" }))
{
    @Html.HiddenFor(model => model.TransactionType)
    @Html.HiddenFor(model => model.FiscalYearDetailId)

}


<script language="javascript" type="text/javascript">
    $(function () {
        InitDateTimePickers();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/@ViewBag.TransType/WPPF/_index_WPPF?EmployeeId=@ViewBag.EmployeeId&fydid=@ViewBag.fydid",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "16%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return ''
                                        + '<a title="Click on for Details" style="text-decoration:none;" href="/@ViewBag.TransType/WPPF/ProfitDistribution" class="sym-btn-detail-row"></a>'

                                        @*+ '<a title="Click on for Post" data-url="/@ViewBag.TransType/WPPF/Post"  onclick=btnPostNew(this);  data-Id="' + oObj.aData[0] + "~" + oObj.aData[7] + '\" class="sym-btn-post-row"></a>'*@
                                    ;
                                }
                            }
                            , { "sName": "Code", "sWidth": "10%" }
                            , { "sName": "ProjectName", "sWidth": "20%" }
                            , { "sName": "FiscalPeriod", "sWidth": "10%" }
                            , { "sName": "Profit", "sWidth": "10%" }
                            , { "sName": "Post", "sWidth": "12%" }
            ]
        });

    });

</script>

<script>

    function btnPostNew(sender) {

        var Id = $(sender).attr("data-Id").split('~')[0];
        var post = $(sender).attr("data-Id").split('~')[1];
        if (post == "Posted") {
            ShowResult("Fail", "Data Already Posted!");
            return true;
        }
        var getURL = "/@ViewBag.TransType/WPPF/Post" + "?" + "ids=" + Id;

        $.getJSON(getURL, function (vm) {

            if (vm.Post) {
                ShowResult("Fail", "Data Already Posted!");
                return true;
            }
            else {
                var url = $(sender).attr("data-url") + "?ids=" + Id + '~';
                var questionMSG = "Are you sure to Post Data!";
                singleOperation(questionMSG, url);
            }

        });

    }


</script>
