@model SymViewModel.PF.InvestmentRenewVM
@using UIHelper.MVC

<div class="headrow">
    <button type="button" title="Add New Renew" data-url="/@ViewBag.TransType/InvestmentRenew/Create?investmentId=@Model.InvestmentId&Encash=F" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;Renew</button>
    <button type="button" title="Add New Encash" data-url="/@ViewBag.TransType/InvestmentRenew/Create?investmentId=@Model.InvestmentId&Encash=T" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;Encash</button>
    <label class="pull-right">Investment Renew </label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Investment Renew List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                 
                <th class="center">Action</th>
                <th class="center">Transaction Code</th>
                <th class="center">Renew Date</th>
                <th class="center">Reference Value</th>
                <th class="center">Post</th>
                <th class="center">Encashed</th>


            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <button type="button" title="Add New InvestmentRenew" data-url="/@ViewBag.TransType/InvestmentRenew/Create" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
</div>



<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/@ViewBag.TransType/InvestmentRenew/_index?investmentId=@Model.InvestmentId",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "10%",
                                "sClass": "center",
                                "fnRender": function (oObj) {

                                    if (oObj.aData[4] == "Posted") {
                                        return ''
                                            + '&nbsp; <a id=""  title="Click on for Edit"   href=\"/@ViewBag.TransType/InvestmentRenew/Edit/' + oObj.aData[0] + '\" class=" sym-btn-edit-row"></a>'

                                            //+ '&nbsp; <a id=""  title="Click to view Investment Encashment Report"   href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentEncashment?id=' + oObj.aData[0] + '\" class="  fa fa-money"></a>'
                                            //+ '&nbsp; <a id=""  title="Click to view Transaction Report" target="_blank"    href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentRenew?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                            //+ '&nbsp; <a id=""  title="Click to view Investment Encashment Report" target="_blank"   href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentEncashment?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                            //+ '&nbsp; <a id=""  title="Click to view Transaction Report" target="_blank"    href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentRenew?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                           // + '&nbsp; <a id="lnkEdit1"  title="Click on for Report" style="text-decoration:none;"    href=\"/@ViewBag.TransType/InvestmentRenew/reportVeiw/' + oObj.aData[0] + '\" class=" linkReport sym-btn-report-row"></a>'
                                            + '&nbsp; <a title="Click on for Post" data-url="/@ViewBag.TransType/InvestmentRenew/Post"  onclick=btnPostNew(this); data-Id="' + oObj.aData[0] + '\" class="sym-btn-post-row"></a>'
                                        + '&nbsp; <a title="Click on for Journal" target="_blank"  href="/@ViewBag.TransType/Journal/Create?JournalType=1' + '&TransactionForm=RenewInvestment' + '&TransactionId=' + oObj.aData[0] + '\" class="sym-btn-bank-row"></a>'
                                    }
                                    else
                                    {
                                        return ''
                                           + '&nbsp; <a id=""  title="Click on for Edit"   href=\"/@ViewBag.TransType/InvestmentRenew/Edit/' + oObj.aData[0] + '\" class=" sym-btn-edit-row"></a>'

                                           //+ '&nbsp; <a id=""  title="Click to view Investment Encashment Report"   href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentEncashment?id=' + oObj.aData[0] + '\" class="  fa fa-money"></a>'
                                           //+ '&nbsp; <a id=""  title="Click to view Transaction Report" target="_blank"    href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentRenew?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                           //+ '&nbsp; <a id=""  title="Click to view Investment Encashment Report" target="_blank"   href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentEncashment?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                           //+ '&nbsp; <a id=""  title="Click to view Transaction Report" target="_blank"    href=\"/@ViewBag.TransType/InvestmentRenew/InvestmentRenew?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                           //+ '&nbsp; <a id="lnkEdit1"  title="Click on for Report" style="text-decoration:none;"    href=\"/@ViewBag.TransType/InvestmentRenew/reportVeiw/' + oObj.aData[0] + '\" class=" linkReport sym-btn-report-row"></a>'
                                           + '&nbsp; <a title="Click on for Post" data-url="/@ViewBag.TransType/InvestmentRenew/Post"  onclick=btnPostNew(this); data-Id="' + oObj.aData[0] + '\" class="sym-btn-post-row"></a>'
                                       //+ '&nbsp; <a title="Click on for Journal" target="_blank"  href="/@ViewBag.TransType/Journal/Create?JournalType=1' + '&TransactionForm=RenewInvestment' + '&TransactionId=' + oObj.aData[0] + '\" class="sym-btn-bank-row"></a>'
                                    }
                                    ;
                                }
                            }

                            , { "sName": "TransactionCode", "sWidth": "10%" }
                            , { "sName": "InvestmentDate", "sWidth": "10%" }
                            , { "sName": "ReferenceNo", "sWidth": "10%" }
      , { "sName": "Post", "sWidth": "10%" }
                            , { "sName": "IsEncashed", "sWidth": "10%" }
            ]
        });
    });
</script>


<script>
    function btnPostNew(sender) {

        var Id = $(sender).attr("data-Id");

        var getURL = "/@ViewBag.TransType/InvestmentRenew/GetInvestment" + "?" + "id=" + Id;

        $.getJSON(getURL, function (vm) {

            if (vm.Post) {
                ShowResult("Fail", "Data Already Posted!");
                return true;
            }
            else {
                var url = $(sender).attr("data-url") + "?ids=" + Id + '~';
                var questionMSG = "Are you sure to Post Data!";
                singleOperation(questionMSG, url);
            }

        });

    }

    function btnDeleteNew(sender) {

        //////var Id = $(sender).attr("data-Id");

        //////var getURL = "/@ViewBag.TransType/Withdraw/GetWithdraw" + "?" + "id=" + Id;

        //////$.getJSON(getURL, function (vm) {

        //////    if (vm.Post) {
        //////        ShowResult("Fail", "Data Already Posted! Can't Be Deleted!");
        //////        return true;
        //////    }
        //////    else {
        //////        var url = $(sender).attr("data-url") + "?ids=" + Id + '~';
        //////        var questionMSG = "Are you sure to Delete Data!";
        //////        singleOperation(questionMSG, url);
        //////    }

        //////});

    }

</script>

<script>
    function btnROI(sender) {
        var id = $(sender).attr("data-Id");


        var getURL = "/@ViewBag.TransType/InvestmentRenew/GetInvestment" + "?" + "id=" + id;

        $.getJSON(getURL, function (vm) {

            if (!vm.Post) {
                ShowResult("Fail", "Do Post before Return on InvestmentRenew!");
                return;
            }


            $("#ReferenceId").val(id);
            $("#TransactionType").val("ROI");

            $("#frmReturnOnInvestmentGet").submit();

        });



    }


</script>