@using UIHelper.MVC
@{
    ViewBag.Title = "Index";
}
<div class="headrow">
    <button type="button" title="Add New Employee PF Opeinig" data-url="/@ViewBag.TransType/EmployeeForfeiture/SingleEmployeeForfeitureEdit?PFOpeinigId=&Operation=add" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>
     <label class="pull-right">Employee Forfeiture</label>
</div>
<div class="thinbox">
   
    <div id="container">
        <table id="myDataTable" class="display">
            <thead>
                <tr>
                    <th class="center">Actions</th>
                    <th class="center">Code</th>
                    <th class="center">Name</th>
                    <th class="center">Employee Contribution</th>
                    <th class="center">Employer Contribution</th>
                    <th class="center">Employee Profit</th>
                    <th class="center">Employer Profit</th>
                    <th class="center">Date</th>
                    <th class="center">Post</th>
                    
                </tr>
               
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <br />
</div>
<div class="headrow">
    <button type="button" title="Add New Employee PF Opeinig" data-url="/@ViewBag.TransType/EmployeeForfeiture/SingleEmployeeForfeitureEdit?PFOpeinigId=&Operation=add" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>

</div>
<script>
    $(function () {

        SelectAllForDelete();
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/@ViewBag.TransType/EmployeeForfeiture/_index",
                "bProcessing": true,
                "aLengthMenu": tablelength(),
                "bJqueryUI": true,
                "bAutoWidth": false,
                "aoColumns": [
                     {
                         "sName": "Id",
                         "bSearchable": false,
                         "bSortable": false,
                         "sWidth": "15%",
                         "sClass": "center",
                         "fnRender": function (oObj) {

                             if (oObj.aData[8] == "Posted") {
                                 return '  &nbsp;  <a title="Click on for Edit" id="lnkEdit1" style="text-decoration:none;" Onclick="otherearningEdit(this);"  class=" sym-btn-edit-row"  data-Id="' + oObj.aData[0] + '"></a>'
                               + '&nbsp; <a title="Click on for Post" style="text-decoration:none;" data-url="/@ViewBag.TransType/EmployeeForfeiture/MultiplePost" onclick="postedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-post-row"></a>'
                              //+ '&nbsp; <a id=""  title="Click to view Transaction Report" target="_blank"    href=\"/@ViewBag.TransType/EmployeeForfeiture/EmployeeForfeitureReport?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                      + '&nbsp; <a id="lnkEdit1"  title="Click on for Report" style="text-decoration:none;"    href=\"/@ViewBag.TransType/EmployeeForfeiture/reportVeiw/' + oObj.aData[0] + '\" class=" linkReport sym-btn-report-row"></a>'

                                      + '&nbsp; <a title="Click on for Journal" target="_blank"  href="/@ViewBag.TransType/Journal/Create?JournalType=1' + '&TransactionForm=Forfeiture' + '&TransactionId=' + oObj.aData[0] + '\" class="sym-btn-bank-row"></a>'
                             }
                             else {
                                 return '  &nbsp;  <a title="Click on for Edit" id="lnkEdit1" style="text-decoration:none;" Onclick="otherearningEdit(this);"  class=" sym-btn-edit-row"  data-Id="' + oObj.aData[0] + '"></a>'
                                     + '&nbsp; <a title="Click on for Post" style="text-decoration:none;" data-url="/@ViewBag.TransType/EmployeeForfeiture/MultiplePost" onclick="postedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-post-row"></a>'
                                    //+ '&nbsp; <a id=""  title="Click to view Transaction Report" target="_blank"    href=\"/@ViewBag.TransType/EmployeeForfeiture/EmployeeForfeitureReport?id=' + oObj.aData[0] + '\" class="  sym-btn-report-row"></a>'
                                            + '&nbsp; <a id="lnkEdit1"  title="Click on for Report" style="text-decoration:none;"    href=\"/@ViewBag.TransType/EmployeeForfeiture/reportVeiw/' + oObj.aData[0] + '\" class=" linkReport sym-btn-report-row"></a>'

                                            //+ '&nbsp; <a title="Click on for Journal" target="_blank"  href="/@ViewBag.TransType/Journal/Create?JournalType=1' + '&TransactionForm=Forfeiture' + '&TransactionId=' + oObj.aData[0] + '\" class="sym-btn-bank-row"></a>'
                             }
                             ;
                         }
                     }
                      , { "sName": "Code", "sWidth": "10%" }
                                , { "sName": "Name", "sWidth": "14%" }
                                , { "sName": "EmployeeContribution", "sWidth": "10%", "sType": "numeric" }
                                , { "sName": "EmployerContribution", "sWidth": "10%", "sType": "numeric" }
                                , { "sName": "EmployeeProfit", "sWidth": "10%", "sType": "numeric" }
                                , { "sName": "EmployerProfit", "sWidth": "10%", "sType": "numeric" }
                                , { "sName": "OpeningDate", "sClass": "center", "sWidth": "10%" }
                                , { "sName": "Post", "sClass": "right", "sWidth": "8%" }
                ]
            });
            
        });
        function otherearningEdit(sender) {
            window.location = "/@ViewBag.TransType/EmployeeForfeiture/SingleEmployeeForfeitureEdit?PFOpeinigId=" + $(sender).attr('data-Id');
        }
</script>
