@{
    ViewBag.Title = "Index";
    ViewBag.Location = "Common=>Bank=>Index"; 
}
    <script>
        ShowResult("Success", "Data saved successfully from Index.");
    </script>
     @if (!string.IsNullOrWhiteSpace(ViewBag.Fail))
     {
    <script>
        ShowResult("Data saved Fail.", "failure");
    </script>
     }
    <script language="javascript" type="text/javascript">
        //$.datepicker.regional[""].dateFormat = 'dd/mm/yy';
        //$.datepicker.setDefaults($.datepicker.regional['']);
        $(document).ready(function () {
            SelectAllForDelete();
            $.datepicker.regional[""].dateFormat = 'dd/M/y';
            $.datepicker.setDefaults($.datepicker.regional['']);
            var oTable = $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/Common/Bank/_index",
                "bProcessing": true,
                "aLengthMenu": tablelength(),
                "bJqueryUI": true,
                "bAutoWidth": false,
                "aoColumns": [
                                {
                                    "sName": "Id",
                                    "bSearchable": false,
                                    "bSortable": false,
                                    "sWidth": "12%",
                                    "sClass": "center",
                                    "fnRender": function (oObj) {
                                        return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">&nbsp; <a id="lnkEdit1"  title="Click on for Edit" style="text-decoration:none;"   href=\"/Common/Bank/Edit/' + oObj.aData[0] + '\" class="sym-btn-edit-row lnkEdit"></a>' +
                                        '&nbsp; <a title="Click on for Delete" style="text-decoration:none;" data-url="/Common/Bank/BankDelete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>';
                                    }
                                }
                                , { "sName": "Code", "sWidth": "20%" }
                                , { "sName": "Name", "sWidth": "25%" }
                                , { "sName": "Active", "sWidth": "15%" }
                                , { "sName": "Remarks", "sWidth": "25%" }
                ]
            });
            oTable.columnFilter({
                sPlaceHolder: "head:after",
                aoColumns: [{ type: "checkbox", "sClass": "chkAll" }
                           , { type: "text" }
                           , { type: "text" }
                           , { type: "select", values: ["Active", "Inactive"] }
                           , { type: "text" }
                ]
            });
        });
    </script>
<div class="headrow">
        <button type="button" title="Add New Bank" data-url="/Common/Bank/Create" id="" class="btnCreate sym-btn-add ">&nbsp;New</button>
        <button type="button" title="Delete Bank"  data-url="/Common/Bank/BankDelete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
 <label class="pull-right"> Bank</label>
</div>
    <div class="thinbox">
        <div class="th_thinbox">
        <p>Bank List</p>   
        </div>
   @* <input type="button" data-url="/Common/Bank/Create"  id="" class="btnCreate btn btn-info  " value="Add" />
    <input type="button" data-url="/Common/Bank/BankDelete" onclick="deletedData(this, 'myDataTable');" id="" class=" btn btn-info  " value="Delete" />
<p></p>*@
        <div id="container">
            <div id="demo">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>
                            <th class="center"><input type="checkbox" class="chkAll" />Select All</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Active/Inactive</th>
                            <th>Remarks</th>
                        </tr>
                        <tr>
                            <th class="center">Actions</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Active/Inactive</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        </div>
<div class="headrow">
        <button type="button" title="Add New Bank" data-url="/Common/Bank/Create" id="" class="btnCreate sym-btn-add ">&nbsp;New</button>
        <button type="button" title="Delete Bank"  data-url="/Common/Bank/BankDelete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
</div>
 <script>
    $(document).ready(function () {
        if ('@Session["result"]' != "") {
            var tt = '@Session["result"]';
            var tt1 = tt.split("~");
            $("#dialog-msg").append('' + tt1[1]);
            $(".ui-dialog").addClass('' + tt1[0]);
        }
        //InitCustomDialog();
    });
    </script>
