@model IEnumerable<SymViewModel.Common.ApplicantSkillVM>
@using UIHelper.MVC
@{
    ViewBag.Title = "_skill";
}
<style>
    .details {
        grid-template-columns: 1fr 1fr 2fr 1fr;
        display: grid;
        gap: 2px;
        margin: 5px 0;
    }

    .qualifil input {
        font-size: 14px;
        font-weight: 400;
    }
</style>
<div class="detailpq">
    @using (Html.BeginCollectionItem("ApplicantSkillVM"))
    {
        <section class="career-objectiveemp">
            <h2>Skill</h2>
            <table class="career-table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Skill </th>
                        <th>SkillDescription </th>
                        <th>ExtraCurricular </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("DeleteSkill", "JobCircular", new { Id = item.Id, ApplicantId = item.ApplicantId })">
                                        <span class="sym-btn-remove-row"></span>
                                    </a>
                                </td>
                                <td>@Html.DisplayFor(m => item.Skill)</td>
                                <td>@Html.DisplayFor(m => item.SkillDescription)</td>
                                <td>@Html.DisplayFor(m => item.ExtraCurricular)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" style="text-align: center;">No records found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    }
</div>
<script>
    $(function () {

    });
    $(document).ready(function () {

    });
</script>
