<section id="portfolio" class="container gray-bg">
		<!-- Portfolio inner -->
		<div class="portfolio t-center fullwidth relative">
			<!-- Filters -->
			<div id="options" class="filter-menu fullwidth">
				<ul id="filters" class="option-set relative normal oswald uppercase" data-option-key="filter">
					<li><a href="#filter" data-option-value="*" class="selected">Show All</a></li>
					<li><a href="#filter" data-option-value=".sage"><span>SAGE ERP</span></a></li>
					<li><a href="#filter" data-option-value=".vat"><span>VAT</span></a></li>
					<li><a href="#filter" data-option-value=".hrm"><span>HRM & PAYROLL</span></a></li>
					<li><a href="#filter" data-option-value=".busy"><span>BUSY</span></a></li>
				</ul>
			</div>
			<!-- Portfolio Items -->
			<div class="portfolio-items t-center">
				<!-- Item -->
				<div class="item five hrm">
					<!-- Item Link -->

					<a href="~/Files/Client/Payroll/campigun.jpg" data-rel="prettyPhoto[portfolio]" class="work-image">
						<!-- Item Image -->
						<img src="~/Files/Client/Payroll/campigun.jpg" alt="" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								CAMPE
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							CAMPE
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
				<!-- End Item -->
				<!-- Item -->
				<div class="item five video vat">
					<!-- Item Link -->
					<a href="~/Files/Client/VAT/cp.jpg" class="work-image ex-link">
						<!-- Item Image -->
					 <img src="~/Files/Client/VAT/cp.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								CP
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								CP
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
				<!-- End Item -->
                <!-- Item -->
				<div class="item five video vat">
					<!-- Item Link -->
					<a href="~/Files/Client/VAT/nitol-tata.jpg" class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/VAT/nitol-tata.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								NITOL TATA
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							NITOL TATA
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
				<!-- End Item -->
                 <!-- Item -->
				<div class="item five video vat">
					<!-- Item Link -->
					<a href="~/Files/Client/VAT/sanofi.jpg" class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/VAT/sanofi.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								SANOFI
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								SANOFI
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
				<!-- End Item -->
                  <!-- Item -->
				<div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/aisd.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/aisd.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								AISD
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								AISD
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
				<!-- End Item -->
                <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/american-effird.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/american-effird.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								American Effird
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								American Effird
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video vat">
					<!-- Item Link -->
					<a href="~/Files/Client/VAT/arbab-polypack.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/VAT/arbab-polypack.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Arbab-Polypack
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Arbab-Polypack
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                   <div class="item five video vat">
					<!-- Item Link -->
					<a href="~/Files/Client/VAT/bombay.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/VAT/bombay.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Bombay Sweets
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
									Bombay Sweets
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                    <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/asa.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/asa.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								ASA
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
									ASA
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/brac-investement.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/brac-investement.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Brac-Investement
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
									Brac-Investement
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/brack-stock.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/brack-stock.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Brac-Stock
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
									Brac-Stock
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/campigun.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/campigun.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								CAMPE
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
									CAMPE
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/checkpoint.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/checkpoint.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Checkpoint
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
									Checkpoint
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/citycell.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/citycell.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Citycell
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
									Citycell
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/crystal-martin-apparel.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/crystal-martin-apparel.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Crystal Martin Apparel
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Crystal Martin Apparel
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                   <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/crystal-martin-knitwear.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/crystal-martin-knitwear.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Crystal Martin Knitwear
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Crystal Martin Knitwear
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/dbh.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/dbh.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								DBH
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								DBH
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/delta-pharm.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/delta-pharm.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Delta Pharm
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Delta Pharm
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/expolanka.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/expolanka.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Expolanka
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Expolanka
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                   <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/gmg-airlines.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/gmg-airlines.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								GMG-Airlines
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							GMG-Airlines
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                    <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/green-delta-insurance.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/green-delta-insurance.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Green-Delta-Insurance
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Green-Delta-Insurance
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                    <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/green-delta-securities.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/green-delta-securities.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Green-Delta-Securities
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Green-Delta-Securities
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                    <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/kapaeeng.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/kapaeeng.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Kapaeeng
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Kapaeeng
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/lankabangla.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/lankabangla.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
								Lanka Bangla
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Lanka Bangla
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/mobil.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/mobil.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
							Mobil
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Mobil
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/nast.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/nast.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
							NUVISTA
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							NUVISTA
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/phonix.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/phonix.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
							Phonix
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Phonix
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/polar-icecream.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/polar-icecream.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
							Polar-Icecream
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Polar-Icecream
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/proofs.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/proofs.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
							Proofs
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
							Proofs
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/Quebee.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/Quebee.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						Quebee
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Quebee
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                  <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/rdrs.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/rdrs.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						 RDRS
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								RDRS
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                  <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/reedisha-group.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/reedisha-group.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						Reedisha-Group
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Reedisha-Group
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/ruposhibangla.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/ruposhibangla.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						Ruposhi Bangla
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Ruposhi Bangla
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/samoriahospital.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/samoriahospital.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						Samorita Hospital
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Samorita Hospital
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                 <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/sharp.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/sharp.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						Sharp
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								Sharp
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                   <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/tib.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/tib.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						TIB
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								TIB
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>
                   <div class="item five video sage">
					<!-- Item Link -->
					<a href="~/Files/Client/Sage/wcl.jpg"class="work-image ex-link">
						<!-- Item Image -->
					<img src="~/Files/Client/Sage/wcl.jpg" />
						<!-- Item Details -->
						<div class="item-details">
							<!-- Item Header -->
							<h1 class="oswald uppercase white">
						WCL
							</h1>
							<!-- Item Strips -->
							<span class="portfolio-strips"></span>
							<!-- Item Description -->
							<p class="oswald uppercase">
								WCL
							</p>
						</div>
						<!-- End Item Details -->
					</a>
					<!-- End Item Link -->
				</div>

			</div><!-- End Portfolio Items -->
		</div><!-- End Portfolio -->
	</section><!-- End Portfolio Section -->


<script>
    /* ==============================================
    PORTFOLIO ITEMS
    =============================================== */
    var $container = $('.portfolio-items');
    $container.isotope({
        //masonry: { columnWidth: $container.width() / 5 },
        itemSelector: '.item',
    });

    var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

    $optionLinks.click(function () {
        var $this = $(this);

        // don't proceed if already selected
        if ($this.hasClass('selected')) {
            return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');

        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[key] = value;
        if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
            // changes in layout modes need extra logic
            changeLayoutMode($this, options)
        } else {
            // otherwise, apply new options
            $container.isotope(options);
        }

        return false;
    });

</script>