@{
    ViewBag.Title = "AboutUs";
}
<section>
    <div class="content">
    <div style="text-align:center">
        <h2>
            ABOUT SYMPHONY SOFTTECH LTD.
        </h2>

    </div>
    <div style="text-align:justify">
        <p>SYMPHONY SOFTTECH LTD. has stepped into software business arena in 1999 with International branded software in the Finance, Accounting and other business operational management areas. Back in 1999, started it journey as sole proprietary business and now formed a limited company for strong footage in the software market with the International branded and locally developed software.We have dedicated professional programmer team in every platform who are always keen to full fill clients requirements with latest technologies to compete the competitive business market.</p>
    </div>
        </div>
</section>


