@model SymWebUI.Models.UserProfile
<div class="content">
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h3 class="h3">
                      <small>Enter Your UserId and Email Address</small>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @Id = "frmForgotPassword" }))
                {
                    <div class="well well-sm">
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        User Name
                                    </label>
                                    @Html.TextBoxFor(model => model.UserName, new { placeholder = "User Name", required = "required", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email Address
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address", required = "required", @class = "form-control" })
                                    </div>
                                </div>                                
                            </div>
                            
                            <div class="col-md-12">
                                <button type="submit" data-url="Home/ForgotPassword" class="btn btn-primary pull-right" id="btnContactUs">
                                    Send Password
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        InitDropdownsCommon();     
        valiDation("frmForgotPassword");

        $('.btnContactUs').click(function () {
            var UserName = $("#UserName").val();
            var Email = $("#Email").val();
         
            if (UserName == "") {
                ShowResult('Fail', "Please Select User Name");
                return false;
            }

            if (Email == "") {
                ShowResult('Fail', "Please Select Email ");
                return false;
            }
            console.log();
            var MultipleProjectId = $('#MultiProjectId').val();
            $('#MultipleProjectId').val(MultipleProjectId);
            $('#View').val("N");

            pageSubmit('frmForgotPassword')
        });

    });
</script>