  <div class="container-fluid">
        <div class="row topspace">
        <div class="col-md-12">
    <!-- Insert to your webpage where you want to display the slider -->
    <div id="amazingslider-1" style="display:block;position:relative;margin:16px auto 56px;">
        <ul class="amazingslider-slides" style="display:none;">
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(1).jpg" alt="Picture 1" /></li>
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(1).png" alt="Picture 2" /></li>
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(2).jpg" alt="Picture 3" /></li>
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(3).jpg" alt="Picture 4" /></li>
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(4).jpg" alt="Picture 5" /></li>
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(5).jpg" alt="Picture 6" /></li>
            
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(7).jpg" alt="Picture 8" /></li>
            <li><img src="http://uguru-realestate-us-jun202013.businesscatalyst.com/3d-slider/images/Desktop%20wallpapers%2023%20XopoM_com%20(8).jpg" alt="Picture 9" /></li>
        </ul>
    </div>
    <!-- End of body section HTML codes -->
    </div></div></div>

<div class="row">

<div class="col-md-3" style="padding:5px;">
    <div class="carousel slide article-slide" id="article-photo-carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner cont-slider">

    <div class="item active">
      <img alt="" title="" src="http://placehold.it/350x260">
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260">
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260">
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260">
    </div>
  </div>
  <!-- Indicators -->
	<ol class="carousel-indicators">
			  	<li data-target="#article-photo-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#article-photo-carousel" data-slide-to="1"></li>
			    <li data-target="#article-photo-carousel" data-slide-to="2"></li>
			</ol>
</div>
</div>
    <div class="col-md-3" style="padding:5px;">
    <div class="carousel slide article-slide" id="article-photo-carousel1">

  <!-- Wrapper for slides -->
  <div class="carousel-inner cont-slider">

    <div class="item active">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
  </div>
  <!-- Indicators -->
	<ol class="carousel-indicators">
			  	<li data-target="#article-photo-carousel1" data-slide-to="0" class="active"></li>
			    <li data-target="#article-photo-carousel1" data-slide-to="1"></li>
			    <li data-target="#article-photo-carousel1" data-slide-to="2"></li>
			</ol>
</div>
</div>

    <div class="col-md-3" style="padding:5px !important;">
    <div class="carousel slide article-slide" id="article-photo-carousel2">

  <!-- Wrapper for slides -->
  <div class="carousel-inner cont-slider">

    <div class="item active">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
    <div class="item">
      <img alt="" title="" src="http://placehold.it/350x260" width:100;>
    </div>
  </div>
  <!-- Indicators -->
	<ol class="carousel-indicators">
			  	<li data-target="#article-photo-carousel2" data-slide-to="0" class="active"></li>
			    <li data-target="#article-photo-carousel2" data-slide-to="1"></li>
			    <li data-target="#article-photo-carousel2" data-slide-to="2"></li>
			</ol>
</div>
</div>



</div>