@using SymOrdinary
@using System.Threading;
@{ 
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}
@{
    string CompanyName = System.Configuration.ConfigurationManager.AppSettings["CompanyName"];
}
<link href="~/assets/css/master.css" rel="stylesheet" />
<div id="leftside">
    <div id="scroll-side-menu" class="side-menu">
        <div id="sm-btn"><span class="btn btn-successful">Menu</span> </div>
        <ul id="s-sm" class="left_menu navbar-left">
            <a class="navbar-brand" href="index-2.html">
                <img src="~/Images/images/image/Logo.jpg" alt="" class="img-responsive navbar-brand_img" id="logo" />
            </a>
            <li class="">
                <span class="nav-icon-dashboard"></span>
                <span class="tri pos">
                    <i class="fa fa-align-justify" style="color: #fff"></i>
                    <img src="~/Images/images/dropdown3.png" alt="" />
                </span>
                <a tabindex="-1" class="btn btn-info" href="/hrm/Home/">Dashboard</a>

            </li>
            @if (identity.IsAdmin || identity.IsPF)
            {
                <li class="dropdown-submenu">
                    <span class="nav-icon-admin"></span>
                    <span class="tri pos"></span>
                    <a tabindex="-1" class="btn btn-info" href="/Common/Home/">Admin</a>

                </li>

                <li class="dropdown-submenu">
                    <span class="nav-icon-hr"></span>
                    <a tabindex="-1" class="btn btn-info" href="/PF/Home/">PF</a>
                </li>

            }
            <li class="">
                <span class="nav-icon-logout"></span>
                <span class="tri pos">
                    <i class="fa fa-align-justify" style="color: #fff"></i>
                    <img src="~/Images/images/dropdown3.png" alt="" />
                </span>
                <a tabindex="-1" class="btn btn-info" href="/Home/LogOut">Log Out</a>

            </li>


        </ul>
    </div>
</div>
<!-- end of top_wrapper-->
<script>
    $(function () {
        var sm = document.getElementById('sm');
        var ssm = document.getElementById('scroll-side-menu');
        $(window).scroll(function () {
            if ($(this).scrollTop() > 0) {
                $("#a").slideUp(600);
                $("#scroll-side-menu").css("cssText", "left: -200px;");
                $("#logo-two").addClass('log-act');
            }
            else {
                $("#scroll-side-menu").css("cssText", "left: -200px;");
                $("#a").slideDown(600);
                $("#logo-two").removeClass('log-act');
            }
        });
        $("#leftside").hover(function () {
            $("#scroll-side-menu").toggleClass("open");
            $("#scroll-side-menu .dropdown-submenu .tri").toggleClass("pos");
        });
    });
</script>
