@model SymViewModel.Attendance.EmployeeDailyAbsenceVM
@using UIHelper.MVC
<div class="thinbox">
    <div class="th_thinbox">
        <p>
            Employee List
        </p>
    </div>

    <div id="container">
        <table id="myDataTable" class="display">
            <thead>
                <tr>
                    <th style="text-align: center">
                        <input type="checkbox" class="chkAll" />
                        Select All</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>@Session["DepartmentLabel"]</th>
                    <th>@Session["ProjectLabel"]</th>
                    <th>@Session["ProjectLabel"]</th>

                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
    <br />

</div>
<div class="headrow">
    &nbsp;
    <button type="button" title="Save Data" data-url="/Common/EmployeeDailyAbsence/Create" onclick="SaveData(this, 'myDataTable');" id="" class="btn sym-btn-save">&nbsp;Save</button>
    @*<button type="button" title="Save Data" data-url="/Common/EmployeeDailyAbsence/Create" onclick="SaveData(this);" id="" class="btn sym-btn-save">&nbsp;Save</button>*@
</div>

<script>
    $(function () {


        var oTable = $('#myDataTable').dataTable({

            "bServerSide": true,
            "sAjaxSource": "/Common/EmployeeDailyAbsence/_Index?DepartmentId=@Model.DepartmentId&SectionId=@Model.SectionId&ProjectId=@Model.ProjectId&DesignationId=@Model.DesignationId&date=@Model.AbsentDate",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,

            "aoColumns": [
                 {
                     "sName": "Id",
                     "bSearchable": false,
                     "bSortable": false,
                     "sWidth": "12%",
                     "sClass": "center",
                     "fnRender": function (oObj) {
                         if (oObj.aData[7] == "True") {
                             return ' <input onclick="CheckAll(this)" checked class="chekB" type="checkbox" data-Id="' + oObj.aData[0] + '">&nbsp; <a title="Click on for Edit" style="text-decoration:none;"   href=\"/HRM/EmployeeInfo/Edit/' + oObj.aData[0] + '\" class="sym-btn-edit-row sym-sx"></a>' //+
                             ;
                         }
                         else {
                             return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">&nbsp; <a title="Click on for Edit" style="text-decoration:none;"   href=\"/HRM/EmployeeInfo/Edit/' + oObj.aData[0] + '\" class="sym-btn-edit-row sym-sx"></a>' //+
                             ;
                         }
                     }
                 }
                            , { "sName": "Code", "sWidth": "10%" }
                            , { "sName": "EmpName", "sWidth": "20%" }
                            , { "sName": "Designation", "sWidth": "15%" }
                            , { "sName": "Department", "sWidth": "15%" }
                            , { "sName": "Section", "sWidth": "15%" }
                            , { "sName": "Project", "sWidth": "15%" }
                            , { "sName": "IsAbsent", "sWidth": "15%", "bVisible": false }
            ]

        });
        SelectAllForDelete();
    });


</script>
